@media screen and (max-width: 841px){
    .menü-item {
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #95E1D3;
        width: auto;
        height: auto;
        text-decoration: none;
        }
        
}